
{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header>
        <h1 style="font-size: 4rem;">{{ .Title | markdownify }}</h1>
    </header>
    
    {{ partial "progress-plot.html" $ }}
    
    <div style="display: flex; align-items: center; margin-top: 2rem;">
        <!-- Text container -->
        <div style="flex-grow: 1; display: flex; flex-direction: column; justify-content: center; gap: 2rem;">
            <div>
                {{ partial "home-content.html" $ }}
            </div>
        </div>
    
        <!-- Image container, only displayed if an image is set -->
        {{ if .Image }}
        <div style="flex: 0 1 1200px; margin-left: 20px;">
            <img src="{{ .Image }}"  style="width: 100%; height: auto;">
        </div>
        {{ end }}
    </div>
    
    
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>
{{- end -}}
