
{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    {{- with .Title }}
    <header>
        <h1>{{ . | markdownify }}</h1>
    </header>
    {{- end }}

    {{ partial "progress-plot.html" $ }}

    <div class="home-body">
        <div class="home-body-text">
            {{ partial "home-content.html" $ }}
        </div>

        {{- if .Image }}
        <div class="home-body-image">
            <img src="{{ .Image }}" alt="C++ needs you: help other open source projects support C++20 modules" loading="lazy">
        </div>
        {{- end }}
    </div>

    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>
{{- end -}}
