{{- /* Wrap markdown tables so wide ones scroll horizontally instead of
       overflowing the page; styled in assets/css/extended/site.css. */ -}}
<div class="table-wrap">
<table
  {{- range $k, $v := .Attributes }}
    {{- if $v }}
      {{- printf " %s=%q" $k $v | safeHTMLAttr }}
    {{- end }}
  {{- end }}>
  <thead>
    {{- range .THead }}
    <tr>
      {{- range . }}
      <th
        {{- with .Alignment }}
          {{- printf " style=%q" (printf "text-align: %s" .) | safeHTMLAttr }}
        {{- end -}}
      >
        {{- .Text -}}
      </th>
      {{- end }}
    </tr>
    {{- end }}
  </thead>
  <tbody>
    {{- range .TBody }}
    <tr>
      {{- range . }}
      <td
        {{- with .Alignment }}
          {{- printf " style=%q" (printf "text-align: %s" .) | safeHTMLAttr }}
        {{- end -}}
      >
        {{- .Text -}}
      </td>
      {{- end }}
    </tr>
    {{- end }}
  </tbody>
</table>
</div>
