<!-- Custom Module -->
<div class="custom-module">

    <script src="js/chart.js"></script>
    <h3 id="finished-text" style=" font-size: 2rem;"></h3>
    <div class="progress-container" style="width: 100%;  ">
        <div style="height: 70px">
            <canvas id="progressbar"></canvas>
        </div>
        <p style="color: gray;">⬆️ There is a progress bar (promise)</p>
        <div id="progress-text" style="text-align: right; margin-top: 1rem;"></div>
        <div id="finished-rate-text" style="text-align: right; "></div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const table = document.getElementById('progress-table');
            let totalProjects = 0;
            let completedProjects = 0;
            let modulesSupportDates = [];

            // Parse table data
            for (let row of table.rows) {
                const status = row.cells[0].textContent.trim();
                if (status === "✅") {
                    const a = row.cells[7].innerText
                    var modulesDate = 0

                    if (!isNaN(new Date(a)))
                        modulesDate = ((new Date(a).getTime() / 1000).toFixed(0))
                    completedProjects++;
                    console.log(a, modulesDate, row.cells[6])
                    if (modulesDate > 0) {
                        modulesSupportDates.push(modulesDate);
                    }
                }
                totalProjects++;
            }

            // Calculate progress percentage
            const progressPercent = (completedProjects / totalProjects) * 100;

            // Update progress bar using Chart.js
            var ctx = document.getElementById('progressbar').getContext('2d');
            var progressBar = new Chart(ctx, {
                type: 'bar', data: {
                    labels: ['Progress'], datasets: [{ data: [progressPercent], backgroundColor: ['green'], }]
                }, options: {

                    maintainAspectRatio: false, aspectRatio: 2,
                    indexAxis: 'y', scales: { x: { beginAtZero: true, max: 100, }, y: { ticks: { display: false } } }, plugins: { legend: { display: false }, tooltip: { enabled: false } }, animation: { duration: 800 }, responsive: true, maintainAspectRatio: false,
                }
            });

            // Update progress text
            document.getElementById('progress-text').innerText = `${completedProjects} / ${totalProjects} (${progressPercent.toFixed(2)}%) Confirmed Complete`;

            if (modulesSupportDates.length > 0) {
                // Calculate monthly completion rate
                const currentUnixTime = Math.floor(Date.now() / 1000);
                const monthsPassed = (currentUnixTime - Math.min(...modulesSupportDates)) / (30 * 24 * 3600);
                const monthlyRate = modulesSupportDates.length / monthsPassed;
                const yearlyRate = monthlyRate * 12; // Calculate yearly rate

                // Estimate when all projects will support modules
                const monthsToCompletion = (totalProjects - completedProjects) / monthlyRate;
                const estimatedCompletionUnixTime = currentUnixTime + monthsToCompletion * 30 * 24 * 3600;
                const estimatedDate = new Date(estimatedCompletionUnixTime * 1000);

                // Display estimated completion date and current yearly rate
                document.getElementById('finished-text').innerText = `Estimated finish by: ${estimatedDate.toDateString()}`;
                document.getElementById('finished-rate-text').innerText += `Current rate: ${yearlyRate.toFixed(2)} projects/year`;
            } else {
                document.getElementById('finished-text').innerText = ""
            }
        });
    </script>

    <h1 style="margin-top: 0rem; font-size: 3rem;">List Of Libraries:</h1>

    <div style="display: flex; justify-content: space-between; width: 80%; margin-top: 1rem;">
        <div style="font-size:  small; line-height: x-small;">
            <h3>Status</h3>
            <ul style="list-style-type: none; padding-left: 0;">
                <li>❔ Default: No set. Help wanted for every lib that has this status!</li>
                <li>✅ Full support</li>
                <li>⚙️ Worked on</li>
                <li>⚠️ Reported</li>
                <li>❌ Corresponding tracking issue was closed and no planned support anytime soon.</li>
                <li>💀 Needs support old library/compiler/build tool to even start adding support for modules.</li>
                <li>🤡 Maintainer does want to keep it oldschool. No plan to update anytime soon.</li>
            </ul>
        </div>
        <div style="font-size: small; line-height: x-small;">
            <h3>Help Wanted</h3>
            <ul style="list-style-type: none; padding-left: 0;">
                <li>✅ Yes</li>
                <li>❌ No</li>
                <li>💀 Does not allow outside contributions</li>
            </ul>
        </div>
    </div>


    <!-- Display Header Information -->
    <div style="margin-bottom: 1rem; margin-top: 1rem; font-size: small; color: gray;">
        <p>Popularity based on vcpkg port update: Generated Date: {{ dateFormat "2 January 2006" (time
            .Site.Data.progress.header.generated_date) }} Count parsed from <a
                href="https://github.com/microsoft/vcpkg/commit/{{ .Site.Data.progress.header.vcpkg_commit_hash }}">this
                git commit.</a>
        </p>
    </div>

    <style>
        :root {
            /* Light theme colors */
            --text-color: #333;
            --background-color-th: #e0e0e0;
            --link-color: #0066cc;
            --input-text-color: #333;
            --row-color-primary: #ffffff;
            --row-color-secondary: #f0f0f0;
        }

        body.dark {
            /* Dark theme colors */
            --text-color: #ddd;
            --background-color-th: #222;
            --link-color: steelblue;
            --input-text-color: #827b7b;
            --row-color-primary: #333333;
            --row-color-secondary: #2a2a2a;
        }
    </style>


    <div id="input-bar">
        <!-- Table Filter -->
        <input type="text" id="search-input" onkeyup="onSearchInput()" placeholder="Search for names..">
        <!-- Filter Checkboxes -->
        <div class="checkboxes-container">
            <div class="checkboxes" id="status-checkboxes">
                <div class="checkbox-items">
                    <label class="checkbox"><input type="checkbox" id="status-check" onchange="onSearchInput()"/>✅</label>
                    <label class="checkbox"><input type="checkbox" id="status-question" onchange="onSearchInput()"/>❔</label>
                    <label class="checkbox"><input type="checkbox" id="status-working" onchange="onSearchInput()"/>⚙️</label>
                    <label class="checkbox"><input type="checkbox" id="status-warning" onchange="onSearchInput()"/>⚠️</label>
                    <label class="checkbox"><input type="checkbox" id="status-cross" onchange="onSearchInput()"/>❌</label>
                    <label class="checkbox"><input type="checkbox" id="status-dead" onchange="onSearchInput()"/>💀</label>
                    <label class="checkbox"><input type="checkbox" id="status-clown" onchange="onSearchInput()"/>🤡</label>
                </div>
                <div class="checkboxes-label">Status</div>
            </div>

            <div class="checkboxes" id="help-checkboxes">
                <div class="checkbox-items">
                    <label class="checkbox"><input type="checkbox" id="help-check" onchange="onSearchInput()"/>✅</label>
                    <label class="checkbox"><input type="checkbox" id="status-question" onchange="onSearchInput()"/>❔</label>
                    <label class="checkbox"><input type="checkbox" id="help-cross" onchange="onSearchInput()"/>❌</label>
                    <label class="checkbox"><input type="checkbox" id="help-dead" onchange="onSearchInput()"/>💀</label>
                    <label class="checkbox"></label>
                    <label class="checkbox"></label>
                    <label class="checkbox"></label>
                </div>
                <div class="checkboxes-label">Help Wanted</div>
            </div>
        </div>
    </div>

    <style>
        #input-bar {
            display: flex;
            padding-bottom: 1rem;
        }

        #search-input {
            color: var(--input-text-color);
            background-color: var(--row-color-secondary);
            padding: 10px;
            flex-grow: 1;
        }

        .checkboxes-container {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        .checkboxes {
            font-size: medium;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .checkboxes-label {
            flex-basis: 100%;
            width: 8rem;
            margin-left: 2rem;
        }

        .checkbox-items {
            display: flex;
            flex-direction: row;
        }

        .checkboxes label {
            display: flex;
            flex-direction: row;
            padding-left: 10px;
            width: 3em;
        }
    </style>
    <!-- Progress Table -->
    <table id="progress-table" style="margin-bottom: 2rem; width: 100%;">
        <style>
            th {
                background-color: var(--background-color-th);
                padding: 8px;
                color: var(--text-color);
            }

            td {
                padding: 8px;
                color: var(--text-color);
            }

            td a {
                color: var(--link-color);
            }

            /* Alternating row backgrounds using CSS variables for row colors */
            tr:nth-child(odd) {
                background-color: var(--row-color-primary);
            }

            tr:nth-child(even) {
                background-color: var(--row-color-secondary);
            }

            table {
                width: 100%;
                border-collapse: collapse;
                /* ensures neat borders */
            }

            #search-input::placeholder {
                color: var(--input-text-color);
            }

            .truncate-text-name {
                max-width: 290px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .truncate-text-version {
                max-width: 90px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .import-statement {
                font-family: 'Courier New', Courier, monospace;
                background-color: var(--row-color-secondary);
                color: var(--text-color);
                padding: 1px;
                border-radius: 4px;
                border: 1px solid #ccc;
                display: inline-block;
            }
        </style>
        <thead>
            <tr style="text-align: left;">
                <th>Status</th>
                <th>Help<br>Wanted</th>
                <th>Name</th>
                <th>Import Statement</th>
                <th>Popularity</th>
                <th>Version</th>
                <th>Min C++<br>Version</th>
                <th>Modules<br>Support Since</th>
                <th>Tracking Issue</th>
            </tr>
        </thead>
        <tbody>
            {{ range sort .Site.Data.progress.ports "revision_count" "desc" }}
            <tr>
                <td>{{ .status }}</td>
                <td>{{ if ne .help_wanted ""}}{{ .help_wanted }}{{ end }}</td>
                <td class="truncate-text-name"><a href="{{ .homepage }}" target="_blank">{{ .name }}</a></td>
                <td>
                    {{ if isset . "import_statement" }}
                    <span class="import-statement">import {{ .import_statement }};</span>
                    {{end }}
                </td>
                <td>{{ .revision_count }}</td>
                <td class="truncate-text-version">{{ .version }}</td>
                <td>{{ if ne .current_min_cpp_version "Unknown"}}C++{{ .current_min_cpp_version }}{{ end }}</td>
                <td>
                    {{ if ne .modules_support_date ""}}
                    {{ .modules_support_date }}
                    {{ end }}
                </td>
                <td>
                    {{ if ne .tracking_issue ""}}
                    <a href="{{ .tracking_issue }}">🔗</a>
                    {{end }}
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>

</div>
<!-- Script for filtering -->
<script>
    /**
     * Check if the checkbox matches the filter
     * @param {string} colText
     * @param {Array<{ checked: boolean, text: string }>} checkboxesInfo
     * @returns {boolean}
     */
    function colMatchesCheckbox(colText, checkboxesInfo) {
        // if the filter matches one of the checkboxes
        return checkboxesInfo.some(checkboxInfo => {
            if (checkboxInfo.checked) {
                return colText === checkboxInfo.text;
            }
        });
    }

    /**
     * Check if a row matches the filter
     * @param {string} colText
     * @param {string} filter
     * @returns {boolean}
     */
    function colMatches(colText, filter) {
        if (filter === "") {
            return true;
        }
        return colText.toUpperCase().includes(filter);
    }

    /**
     * Get the checkbox information
     * @param {HTMLLabelElement[]} checkboxes
     * @returns {Array<{ checked: boolean, text: string }>}
     */
    function getCheckboxInfo(checkboxes) {
        return Array.from(checkboxes)
            .map(checkbox => {
                const checkboxInput = checkbox.querySelector("input");
                if (!(checkboxInput instanceof HTMLInputElement)) {
                    return null;
                }

                const checkboxText = checkbox.textContent;
                if (!checkboxText) {
                    return null;
                }

                return { checked: checkboxInput.checked, text: checkboxText };
            })
            .filter(checkboxInfo => checkboxInfo !== null);
    }

    // Get the element references
    const input = document.getElementById("search-input");
    if (!(input instanceof HTMLInputElement)) {
        throw new Error("Search input not found");
    }
    const table = document.getElementById("progress-table");
    if (!(table instanceof HTMLTableElement)) {
        throw new Error("Progress table not found");
    }
    const rows = table.getElementsByTagName("tr");
    const statusCheckboxes = document.querySelectorAll("#status-checkboxes .checkbox");
    const helpCheckboxes = document.querySelectorAll("#help-checkboxes .checkbox");

    function onSearchInput() {
        const statusCheckboxesInfo = getCheckboxInfo(statusCheckboxes);
        const allStatusUnchecked = statusCheckboxesInfo.every(checkboxInfo => !checkboxInfo.checked);

        const helpCheckboxesInfo = getCheckboxInfo(helpCheckboxes);
        const allHelpUnchecked = helpCheckboxesInfo.every(checkboxInfo => !checkboxInfo.checked);

        // make the search case-insensitive
        /** @type {string} */
        const filter = input.value.toUpperCase();

        let i_row = 0;
        for (const row of rows) {
            // Skip the first row (header)
            if (i_row == 0) {
                i_row++;
                continue;
            }

            const cols = row.getElementsByTagName("td");

            // Check if the row contains the search status
            let matches = false;
            let checkboxMatches = allHelpUnchecked && allStatusUnchecked;

            let j_col = 0;
            for (const col of cols) {
                const colText = col.textContent;
                if (colText === null) {
                    j_col++;
                    continue;
                }

                if (j_col == 0) {
                    checkboxMatches = allStatusUnchecked || colMatchesCheckbox(colText, statusCheckboxesInfo);
                } else if (j_col == 1) {
                    checkboxMatches = checkboxMatches && (allHelpUnchecked || colMatchesCheckbox(colText, helpCheckboxesInfo));
                } else {
                    matches = checkboxMatches && colMatches(colText, filter);
                }

                if (matches) {
                    break;
                }

                j_col++;
            };

            // show or hide the row based on the search
            row.style.display = matches ? "" : "none";

            i_row++;
        }
    }
</script>
